#article {
  padding-bottom: 40px;
}
.art-card {
  width: 90%;
  margin: 0 20px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 20px 20px;
}
.art-line {
  border: 0.5px solid #9099A3;
  background: #9099A3;

}
