#hero {

  min-width: 100vh;
}

.hero-shadow {
  z-index: -1;
  width: 500px;
  height: 500px;
  background: #1A5CFF;
  filter: blur(700px);
  position: absolute;
  left: 10px;
}
.hero-btn {
  border: 1px solid #9099A3;


}
.hero-btn:hover {

  border: 1px solid #FFFFFF;
  color:#FFFFFF;
}
